.About {
    color: rgb(37, 37, 37);
    position: relative;
    font-family: "omnes-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    width: 300px;
    padding-top: 0px;
    top: 18vh;
    line-height: 8px;
    margin-left: 50%;
    transform: translateX(-150px);
    opacity: 1;
    transition: 'opacity 500ms, height 200ms';
}

.About h1 {
    text-align: left;
    color: rgb(73, 73, 73);
    border-radius: 5px;
    font-weight: 100;
    font-size: 64px;
}

.About p {
    font-weight: 100;
    margin-left: 5px;
}

.About p a {
    text-decoration: none;
    color: black;
}

.About i {
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
    margin-top: -10px;
    height: 25px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(255, 208, 0);
    transition: color 200ms;
}

.About i:hover {
    color: white;
}

@media (max-width: 400px) {
    .About {
        transform: scale(0.9, 0.9) translateX(-165px);
    }
}