.About {
    color: rgb(37, 37, 37);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    padding-left: 60px;
    padding-top: 0px;
    margin-top: 10px;
    line-height: 8px;
    opacity: 1;
    transition: 'opacity 500ms, height 200ms'
}

@media (max-width: 550px) {
    .About {
        padding-left: 0;
        text-align: center;
    }
}