.Avatar {
    position: relative;
    top: 20vh;

    border-radius: 50%;
    will-change: margin-top, margin-left;
    transition: margin-left 1000ms, margin-top 1000ms, height 1000ms, width 1000ms;
}



