.Card {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    height: 200px;
    width: 210px;
    color: white;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
}

.Card.TripTunes {
    background-color: rgb(0, 91, 151);
}

.Card.Chattr {
    background-color: rgb(129, 0, 141);
}

.Card b {
    font-weight: 700;
}

.Card i {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 64px;
    color: rgb(255, 208, 0);
    border-radius: 5px;
    width: 100%;
}

.Card.TripTunes i {
    border-bottom: 5px solid rgb(63, 172, 255);
}

.Card.Chattr i {
    border-bottom: 5px solid rgb(253, 207, 255);
}


.Card p {
    font-weight: 300;
    border-radius: 5px;
}
@media (max-width: 1115px) {
    .Card {
        height: 150px;
        width: 160px;
    }
    .Card i {
        font-size: 48px;
    }
    .Card p {
        margin-top: 2px;
        font-size: 14px;
    }
}
@media (max-width: 667px) {
    .Card {
        height: 150px;
        width: 50%;
    }
    .Card i {
        font-size: 48px;
    }
    .Card p {
        margin-top: 2px;
        font-size: 16.5px;
    }
}

@media (max-width: 480px) {
    .Card {
        width: 75%;
        height: 160px;
        margin-top: -5px;
    }

    .Card p {
        font-size: 18px;
        margin-top: 5px;
    }
}