.ContentZone {
    background-color:rgba(0, 0, 0, 0.0);
    text-align: left;
    font-size: 64px;
    width: 100vw;
    position: absolute;
    top: 75px;
    height: 85vh;
    overflow: scroll;
    left: -1vw;
    padding: 0px 10px 60px 10px;
    border-top: 1px solid gray;
    border-radius: 0px;
    border-radius: 5px;
    will-change: padding-left, margin-left, width, transform;
    transition: padding-left 1500ms, top 1500ms, margin-left 1500ms, color 1500ms, width 1000ms, transform 1000ms;
}

.ContentZone.HOME {
    border: none;
}

@media (max-width: 1100px) {
    .ContentZone{

    }
}

@media (max-width: 935px) {
    .ContentZone {
        width: 100vw;
        margin-left: 0vw;
        transform: none;
        padding: 0;
        border-radius: 0px;
    }
}