.Footer {
    font-family: "omnes-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100vw;
    min-height: 600px;
    background: linear-gradient(rgb(0, 57, 95), rgb(0, 44, 73));
    margin-top: 15px;
    text-align: left;
    position: relative;
    z-index: 100;
    transition: height 500ms;
    overflow: hidden;
}


.Footer a {
    position: absolute;
    color: rgb(255, 217, 0);
    margin-left: 5vw;
    margin-top: 14px;
    font-weight: 700;
    transition: color 200ms;
}

.Footer .Infos a {
    position: relative;
    margin-left: 0vw;
    margin-top: 0px;
    opacity: 1;
}

.Footer a:hover {
    color: rgb(0, 140, 255);
}

.Footer span i {
    margin-right: 5px;
    margin-top: 10px;
    font-size: 18px;
}



.Footer .f {
    font-size: 36px;
    color: rgb(255, 217, 0);
    margin: 12px 5px 0px 5px;
    cursor: pointer;
    transition: color 200ms;
}

.Footer p {
    text-align: center;
    margin-top: 5px;
}

.Footer i:hover, #BTSgh:hover {
    cursor: pointer;
    color: rgb(0, 140, 255);
}

/* BTS */

.BTS {
    color: white;
}

.BTS h1 {
    margin-top: 0px;
    text-align: center;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 40px;

}

#BTSTech {
    width: 100%;
    position: absolute;
    left: 50%;
    margin-top: -43px;
    transform: translateX(-52px);
}


#BTSgh {
    text-align: center;
    color: rgb(255, 217, 0);
    margin-left: 50%;
    margin-bottom: 20px;
    font-size: 72px;
    transform: translateX(-36px);
    transition: color 200ms;
}

@media (max-width: 480px) {
    .Footer {
        margin: 0;
    }
}