.Info {
    width: 45%;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.Info.BTS {
    text-align: center;
    margin-left: -35.5%;
}




.Info p {
    width: 100%;
}

.Info i {
    position: relative;
    background-color: rgb(255, 208, 0);
    text-align: center;
    color: white;
    font-size: 36px;
    width: 50px;
    height: 44px;
    padding-top: 6px;
    border-radius: 50%;
    margin-right: 10px;
}

.Info b {
    font-size: 24px;
    font-weight: 900;
}