.Links {
    margin-top: 40px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

.Links a {
    font-family: "omnes-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 200px;
    height: 200px;
    color: rgb(0, 153, 255);
    margin: 15px;
    font-size: 24px;
    padding: 10px 10px;

    transition: color 200ms;
}

.Links a i {
    font-size: 30px;
    position: relative;
    top: 4px;
    left: 0px;
    line-height: 50px;
    color: rgb(0, 153, 255);
}

.Links a span {
    position: relative;
    margin-left: 5px;
    margin-right: 10px;
    top: 0px;
}

.Links a:hover {
    color: rgb(0, 122, 204);
}


@media (max-width: 480px) {
    .Links {
        margin-bottom: 25px;
        margin-top: 30px;
    }
}

@media (max-width: 425px) {
    .Links a {
        margin: 1px;
    }
    .Links {
        margin-left: 12%;
    }
}

@media (max-width: 365px) {
    .Links a i {
        display: none;
    }
}
