.Links {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

.Links a {
    font-family: "omnes-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 200px;
    height: 200px;
    text-decoration: none;
    margin: 15px;
    font-size: 24px;
    padding: 10px 10px;
    background-color: rgb(255, 217, 0);
    color: rgb(66, 170, 255);
    transition: background-color 200ms;
}

.Links a i {
    font-size: 64px;
    position: relative;
    top: 14px;
    left: -10px;
    line-height: 50px;
    color: black;
}

.Links a span {
    position: relative;
    margin-left: 5px;
    margin-right: 10px;
    top: 0px;
}

.Links a:hover {
    background-color: rgb(255, 187, 0);
}

@media (max-width: 500px) {
    .Links a {
        display: block;
        height: 50px;
        width: 90%;
        padding: 0px 10px 25px 10px;
        text-align: left;
    }
    .Links {
        margin-left: 5%;
    }
    .Links a i {
        top: 12px;
        left: -8px;
    }
}