.Menu {
    position: fixed;
    top: 0;
    transition: left 500ms;
    width: 35vw;
    height: 100vh;
    z-index: 100;
    padding-top: 75px;
}

.MenuFade {
    position: fixed;
    z-index: -10;
    width: 135vw;
    height: 120vh;
    margin-top: -10vh;
    background-color: rgba(255, 255, 255, 0.7);
    transition: opacity 200ms;
}

.MenuFade.true {
    display: block;
    opacity: 1;
}

.MenuFade.false {
    opacity: 0;
    display: none;
}

.MenuFade.HOME {
    
}

.Menu.true {
    left: 0;
}

.Menu.LIGHT {
    background-color: rgb(200, 200, 200);
}

.Menu.DARK {
    background-color: rgb(50, 50, 50);
}

.Menu.false {
    left: -35vw;
}


.MenuBtn {
    background-color: transparent;
    border-radius: 1px;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 75px;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 200ms;
}

.MenuBtn.HOME {
    display: none;
}

.MenuBtn.LIGHT {
    color: rgb(37, 37, 37);
}

.MenuBtn.DARK {
    color: rgb(220, 220, 220);
}

.MenuBtn:active, .MenuBtn:focus {
    border: none;
    outline: none;
}

.MenuBtn.LIGHT:hover {
    background-color: rgb(202, 202, 202);
}

@media (max-width: 625px) {
    .Menu {
        width: 75vw;
    }
    .Menu.false {
        left: -75vw;
    }
}

@media (max-width: 550px) {
    .Menu {
        width: 85vw;
    }
    .Menu.false {
        left: -85vw;
    }
}