.Tech {
    font-family: "omnes-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(168, 168, 168);
    font-style: italic;
    font-size: 18px;
    position: relative;
    font-weight: 300;
    min-width: 60px;
    border-radius: 80px;
    display: inline;
    opacity: 0;
    margin: 5px;
    padding: 0px 5px 5px 5px;
    transition: opacity 500ms;
}

.Tech.one {
    opacity: 1;
    transition-delay: 0ms;
}

.Tech.two {
    opacity: 1;
    transition-delay: 250ms;
}

.Tech.three {
    opacity: 1;
    transition-delay: 500ms;
}
