.Tech {
    font-family: "omnes-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: relative;
    font-weight: 300;
    background: linear-gradient(rgb(53, 53, 53), rgb(43, 43, 43));
    min-width: 60px;
    border-radius: 80px;
    display: inline;
    opacity: 0;
    margin: 5px;
    padding: 5px 20px 5px 20px;
    height: 30px;
    transition: opacity 500ms;
}

.Tech.React {
    color: rgb(0, 153, 255);
    font-size: 18px;
}

.Tech.React i {
    color: rgb(0, 153, 255);
    font-size: 18px;
}

.Tech.jQuery {
    color: rgb(255, 119, 0);
}

.Tech.Node {
    color: rgb(32, 175, 0);
}

.Tech.API {
    color: rgb(255, 0, 0);
}

.Tech.Firebase {
    color: rgb(255, 187, 0);
}

.Tech.Bootstrap {
    color: rgb(129, 38, 255);
}

.Tech.one {
    opacity: 1;
    transition-delay: 0ms;
}

.Tech.two {
    opacity: 1;
    transition-delay: 250ms;
}

.Tech.three {
    opacity: 1;
    transition-delay: 500ms;
}
